/* {
    background-color:rgb(190, 223, 163);
	background-image:url('image/background.jpg');
    background-size:cover;
} */
body{
	background-image: url('image/login_bg.png');
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: 50% !important;
    background-size: cover;
	/* background:rgb(206, 249, 255); */
}
#wrapper{
	position:absolute;
	width:100%;
	height:100%;
	min-width:1280px;
	min-height:680px;
	overflow-x:hidden;
	overflow-y:hidden;
    background-image: -moz-linear-gradient(top,#77D1F6, #2F368F);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #77D1F6),color-stop(1, #2F368F));
}

#header{
	height:100px;
	width:100%;
}
#logo{
	position:absolute;
	float:left;
	margin-left:5%;
	margin-top:30px;
	height:40px;
	width:160px;
	text-align:center;
}
#heading{
	position:relative;
	float:left;
	margin-left:20%;
	margin-top:-18px;
	height:110px;
	width:60%;
	border-radius: 18px;
	background-color:#1C75BC;
	opacity:1;/*透明度0-1,1表示完全不透明*/
}
#heading #title{
	margin-top:30px;
	text-align:center;
	font-family:微软雅黑;
	font-size:40px;
	font-weight:bold;
}
#heading #subTitle{
	margin-top:5px;
	text-align:center;
	font-family:Courier New;
}

#main{
	margin-top:5px;
	height:500px;
	width:100%;
}
#mainBg{
	position:relative;
	float:left;
	margin-left:20%;
	margin-top:0px;
	height:480px;
	width:60%;
    border-radius: 18px;
    /* background-color:#2f1f88; */
	background-color:#ffffff;
    opacity:1;/*透明度0-1,1表示完全不透明*/
}
#mainPanel{
    position:relative;
	margin:25px;
	height:450px;
    border-radius: 10px;
	background-color: #ffffff;
}
#mainw{
	height:420px;
}
#mainPanel #left{
	float:left;
	border-right:2px solid #F6F6F6;
	position:relative;
	top:10%;
	height:75%;
	width:49%;
	border-right-style:groove;
}
#mainPanel #image{
	position:relative;
	height:256px;
	width:256px;
	left:15%;
	top:12%;
	background-image:url('image/title_logo.png');
    background-size:cover;
}

#mainPanel #right{
	float:left;
	position:relative;
	height:75%;
	width:49%;
	top:10%;
}
#welcome{
	/* margin-top:10px; */
	height:50px;
	width:100%;
	vertical-align: middle;
	display: inline-block;
	line-height: 60px;
	text-align:center;
}
#welcome #welcome-text{
	font-size:38px;
	font-weight:bold;
	font-family:微软雅黑;
	text-shadow: 0 1px 1px #F6F6F6;
}
#user-name{
	margin-left: 50px;
	height:35px;
	width:100%;
	margin-top:20px;
	vertical-align: middle;
	display: inline-block;
	line-height: 35px;
	position: relative;/*相对定位*/
}
#user-password{
	margin-left: 50px;
	margin-top:20px;
	height:35px;
	width:100%;
	vertical-align: middle;
	display: inline-block;
	line-height: 35px;
	position: relative;/*相对定位*/
}
#user-checkcode{
	margin-left: 50px;
	margin-top:20px;
	height:35px;
	width:100%;
	vertical-align: middle;
	display: inline-block;
	line-height: 35px;
	position: relative;/*相对定位*/
}
#button-group{
	margin-top:35px;
	margin-left: 50px;
	height:50px;
	width:100%;
	vertical-align: middle;
	display: inline-block;
	line-height: 50px;
	/* text-align:center; */
	position: relative;/*相对定位*/
}
#sign_up_view{
	margin-top:5px;
	margin-left: 100px;
	height:30px;
	width:100%;
	vertical-align: middle;
	display: inline-block;
	line-height: 20px;
	font-size: 17px;
	/* text-align:center; */
	position: relative;/*相对定位*/
}
.tipImg{
	width: 24px;
    height: 24px;
    position: absolute;
    top: 17px;
    left: 0px;
}
#imgCode{
	width: 82px;
    height: 38px;
    position: absolute;
    margin-left: 190px;
    top: 8px;
}
.form-input{
	position: absolute;
	outline: none;/*鼠标选中时的边框*/
	font-size: 17px; 
	height: 25px;
    line-height: 25px;
    padding: 17px 10px 15px 30px;
    width: 250px;
    border: 0px;
    outline: none;
    border-bottom: 1px solid #B1B1B1;
    background: transparent;
}
.btn{
    /* border:1px solid #cccccc; */
	border:0px;/*鼠标未选中时的边框*/
	outline: none;/*鼠标选中时的边框*/
    cursor:pointer;
    /* margin:5px 20px; */
    height:40px;
	/* width:80px; */
	width: 290px;
    text-align:center;
    border-radius: 5px;
	color:#ffffff;
	font-size: 18px;
	background-color: #46A0E8;
}
.sign_up{
	border:0px;/*鼠标未选中时的边框*/
	outline: none;/*鼠标选中时的边框*/
	font-size: 17px;
	color: #46A0E8;
	background-color: #ffffff;
}
#footer{
	margin-top:0px;
	width:100%;
	
}
#footer #text{
	text-align:center;
	font-size:14px;
	font-family:微软雅黑;
	font-weight:bold;
}